{% load static %}

<footer>
    <div id="footertop">
        <div class="footercover">
            <div class="footer-content">
                  <img src="{% static "img/logo.png" %}" alt="logo">
                  <h1>Merci de votre visite !</h1>
                  <h2>Merci de visiter mon portfolio. N'hésitez pas à revenir pour découvrir mes dernières réalisations. Je suis activement à la recherche d'opportunités d'alternance dans le milieu de la Data. Si mon profil vous intéresse, je serais ravie de discuter de potentiels projets ensemble.</h2>
                  <div id="contact-rs">
                    <li><a href="https://www.linkedin.com/" target="_blank"><img src="{% static "img/discord.png" %}"" alt="linkedin"></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><img src="{% static "img/linkedin.png" %}" alt="discord"></a></li>
                  </div>
                  <a class="wow animated zoomIn btn-pink" href="mailto:sba@gmail.com" target="_blank">Nous contacter</a>
            </div>
        </div>
    </div>
    <div id="copyright">
        <p>Copyright © 2024 All Right Reserved by SBA</p>
        <ul>
          <li><a href="/">  Home /</a></li>
          <li><a href="/about/">  About/</a></li>
          <li><a href="/form/">  Form /</a></li>
        </ul>
    </div>
</footer>