{% load static %}

<nav>
    <div class="navbar-container animated zoomIn" data-wow-duration="1s" data-wow-delay="1s">
      <div class="img-nav">
        <div class="nav_link_reseaux"> 
          <li><a href="https://www.linkedin.com/" target="_blank"><img src="{% static "img/logo_white.png" %}" alt="logo"></a></li>
        </div>
      </div>
      <div class="burger-menu">
        <!-- <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div> -->
        <img src="{% static "img/carte-des-hamburgers.png" %}" alt="logo" class="burger">
      </div>
      <ul class="menu-items">
        <li><a href="/">  Home </a></li>
        <li><a href="/about/">  About </a></li>
        <li><a href="/form/">  Form </a></li>
        {% if user.is_authenticated %}
          <li><button style="background-color: rgb(72, 189, 221); border: none; cursor: pointer; outline: none; padding: 0.5rem 1rem;"><a href="{% url "logout" %}">logout</a></li>
        {% else %}
          <li>
              <button style="background-color: rgb(72, 189, 221); border: none; cursor: pointer; outline: none; padding: 0.5rem 1rem;">
                  <a href="{% url "login" %}" style="color: #FFF; text-decoration: none;">login</a>
              </button>
        </li>
    {% endif %}
      </ul>
    </div>
</nav>