{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="home" class="container parallax">
    <div class="home-cover">
      <div class="home-content">
        <h1 class="wow animated fadeInRight" data-wow-duration="1s" data-wow-delay="1s">Welcome to<br> SBA Website</h1>
        <div class="content-title-underline2"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque mollitia et blanditiis nisi! Alias fugit officia 
            soluta qui quisquam eligendi? Aspernatur obcaecati illo id doloribus tempore consequuntur a libero quasi.
        </p>
        <img src="{% static "img/building.gif" %}" alt="gif">
      </div>
    </div>
  </section>

{% endblock content %}